@font-face {
  font-family: "Playfair Display";
  src: url("../media/fonts/Playfair Display/PlayfairDisplay-Bold.woff2")
      format("woff2"),
    url("../media/fonts/Playfair Display/PlayfairDisplay-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../media/fonts/Playfair Display/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("../media/fonts/Playfair Display/PlayfairDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../media/fonts/Playfair Display/PlayfairDisplay-Medium.woff2")
      format("woff2"),
    url("../media/fonts/Playfair Display/PlayfairDisplay-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../media/fonts/Playfair Display/PlayfairDisplay-SemiBold.woff2")
      format("woff2"),
    url("../media/fonts/Playfair Display/PlayfairDisplay-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Bold.woff2")
      format("woff2"),
    url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Light.woff2")
      format("woff2"),
    url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Black.woff2")
      format("woff2"),
    url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Regular.woff2")
      format("woff2"),
    url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Medium.woff2")
      format("woff2"),
    url("../media/fonts/Zen Kaku Gothic New/ZenKakuGothicNew-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
